*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body{
  width: 100vw;
  height: 100vh;
}
textarea{
  width: 500px;
  height: 180px;
  border-radius: 1.5rem;
  padding: 15px;
}
button{
  width: 100px;
 
}
article{
  padding: 5px;
}